body{
    background-color: gray !important;
}
.main{
    width: 80%;
    height: 90vh;
    background-color: white;
    margin: auto;
    margin-top: 3%;
}
.navbar{
    background-color:rgba(211, 211, 211, 0.163) !important;

}
.nav-logo{
  margin-left: 10%;  
}
.nav-logo img{
    width: 50%;
    height: 50px !important;
}
.nav-logo span{
    position: relative;
    top: 10px;
}
.nav-center li a{
    color: black !important;
    font-weight: 600;
}
.nav-center li:first-child{
    font-weight: bold;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
.btns{
    position: relative;
    right: -5%;
    top: .5vh;
    list-style: none;
    font-weight: 600;
}
.btns li{
    display: flex;
    margin-top: 15px;
   
}
.btns li a{
    color: black;
    text-decoration: none;
   margin-left: 10px;
   
}
.btns button{
    background-color: transparent !important;
    color: black !important;
    border: none !important;
    font-weight: 600;
    width: 10%;
   
}
.arrow img{
    width: 100%;
}
.btns li span{
    margin-left: -10px;
    transform: rotate(90deg)
}
section{
    width: 100%;
    height:73%;
    background-color:rgba(211, 211, 211, 0.163) !important;
    display: flex;
}
.left{
    width: 40%;
    height: 100%;

    padding-left:12%;
}
.left h1{
    text-transform: uppercase;
    font-weight: bolder;
    font-size: 50px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgba(11, 11, 68, 0.888);
    letter-spacing: 3px;
    width: 70%;
    
}
.left p{
    width: 70%;
    opacity: .7;
}
.left button{
    background-color: blue;
    color: white;
    border-radius: 5px;
    border: none;
    box-shadow: 0 0 10px rgba(0, 0, 255, 0.444);
}
.left h3{
    position: relative;
    top: 10%;
    font-weight: bold;

}
.circle{
    width: 100px;
    height: 20px;
   
    position: relative;
    top: 3.5%;
    left: 20%;

    display: flex;
    justify-content:space-evenly;
    
}
.circle div{
    width: 18px;
    height: 18px;

    border-radius: 50%;
}
.circle-1{
    background-color: rgb(211, 176, 230);
}
.circle-2{
    background-color: blue;
}
.circle-3{
    background-color: orangered;
}
.center{
    width: 25%;
    height: 80%;
    background: linear-gradient(to top, #9693cbba ,#9693cb71 ,hsl(0 93.3% 94.1%),hsl(0 85.7% 97.3%),white);
    margin-top: 2%;
    border-top-left-radius: 45%;
    border-top-right-radius: 45%;
}
.earth-img{
    width: 100%;
    height:90%;
    position: relative;
    top: -25%;
    left: 1%;
}
.location-arrow{
    width: 10%;
    height: 10%;
    position: absolute;
    top: 55%;
    left: 46%;
}
.center span{
    position: relative;
    top:-15%;
    left: -10px;
    z-index: 5;
    float: left;
    margin-left: 80px;
    font-size: 8px;
}
.plane-cent{
    position: relative;
    top: -27%;
    right: 25%;
}
.right{
    width: 35%;
    height: 100%;
   
    
}
.right h1{
    font-size: 15px;
    position: relative;
    left: 25%;
    top:2%
}
.right > p{
    font-size: 12px;
    width: 50%;
    opacity: .5;
    position: relative;
    left: 25%;
    top:2%
}
.right span{
    /* padding-left: 21px; */
}
.slide{
    width: 15%;
    height: 38vh;
    background-color: white;
    position: absolute;
    right: 16%;
    z-index: 6;
    border-radius: 15px;
    padding-top: 15px;
    
}
.shadow{
    width: 15%;
    height: 38vh;
    background-color: rgba(128, 128, 128, 0.429);
    position: absolute;
    right: 15%;
    top: 33%;
    z-index: 5;
    border-radius: 15px;
}
.slide button{
    background-color: blue;
    color: white;
    font-size: 12px;
    border: none;
    position: relative;
    left: 25px;
    top: -5px;
    
}
table{
    font-size: 8px;
    width:80%;
}
table th{
    font-size: large;
}
.cut-div1{
    width: 20px;
    height: 20px;
    /* background-color: rgba(240, 255, 255, 0.895); */
    background: linear-gradient(to left, rgba(211, 211, 211, 0.163) 50%,transparent 0%);
    border-radius: 50%;
    position: relative;
    top: 10px;
    right: 10px;
    
}
.cut-div2{
    width: 20px;
    height: 20px;
    background: linear-gradient(to right, rgba(128, 128, 128, 0.429) 48%,transparent 0%);
    border-radius: 50%;
    position: relative;
    left: 96%;
    top: -10px;
}
.cut-div3{
    width: 20px;
    height: 20px;
    background: linear-gradient(to right, rgba(255, 255, 255, 0.697) 50%,transparent 0%);
    border-radius: 50%;
    position: relative;
    top: 69%;
    left: 96%;

}
.slide p{
    font-size: 24px;
    position: relative;
    top: -15%;
    left: 13px;
    
}
.slide img{
    width: 100%;
    height: 20%;
    position: relative;
    top: -50px;

}
footer{
    width: 70%;
    height: 20vh;
    background-color:white;
    position: absolute;
    bottom: 7%;
    left: 15%;
    border-radius: 8px;
    /* display: flex;
    justify-content: center; */
}
.ftr-top-drop{
    width: 40%;
    height: 30%;
   
    display: flex;
    justify-content: space-around;
}
.ftr-top-drop button{
    background-color: transparent;
    border: none;
    color: black;
}
footer > p{
    position: absolute;
  right: 15px;
  top: 10px;
}
footer p a{
    text-decoration: none;
    color: blue;
}
.globe{
    font-size: 20px;
    position: relative;
    top: 5px;
    
}
.search{
    position: relative;
    left: -15px;
    top: 8px;
    font-size: px;
    font-weight: 900;
    
}
.ftr-center{
    background-color:#c8c6f2b0;
    width: 95% !important;
    height: 8vh;
    position: relative;
    left: 30px;
}
.ftr-center div {
    width: 50%;
    border: 1px solid rgba(128, 128, 128, 0.189);
    display: flex;
    

}
.ftr-center div>div{
    border: none;
    margin-left: 10px;
}
.circle-plane{
    width: 25px !important;
    height: 25px;
   border: 1px solid rgba(128, 128, 128, 0.203) !important;
    border-radius: 50%;
}
.white-bg{
    background-color: white;
    width: 25% !important;
  
}
.right-bx-3{
    width: 15% !important;
   
}
footer input{
    width: 5vw;
    height: 8vh;
    position: relative;
    top: -18px;
    right: 3px;
    background-color: blue;
    border: none;
}
.srch{
    font-size: 30px;
    position: relative;
    right: 55px;
    color: white;
}
.ftr-cen-btm{
    width: 100%;
    height: 30%;
    position: relative;
    top: -16px;
   
    display: flex;
    justify-content: center;
}
.ftr-cen-btm div{
    width: 20%;
    height: 80%;
    text-align: center;
    padding-top: 10px;
}
.ftr-cen-btm div a{
    text-decoration: none;
    color: black;
}
.box2{
    border-bottom: 3px solid blue !important;
}
.box2 a{
    color: blue !important;
}
.btm-sec{
    width: 100%;
    height: 11.5%;
    background-color:#9693cbba;
}
footer button:hover{
    background-color: transparent !important;
    color: black !important;
}